html {
    font-family: 'Metal Mania', cursive;
    color: black;
}

.background {
   /* background:  #884dff; */
   background: rgba(136, 77, 255, 0.7);
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

header h1{
    margin: 0;
    padding: 15px;
}

li {
    list-style: none;
    padding: 10px;
}

ul {
    padding: 0px;
}

.rock-image {
    background: url("../images/college-band-concert-1024x576.jpg") no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rock-text {
    text-align: center;
    font-size: 2em;
    padding: 1.5em;
    border-radius: 10px;

}

a{
   text-decoration: none; 
   color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

article, .sidebar-widget{
    padding: 15px;
    margin: 15px 0;

}

article > header {
    background: #9900ff;
}

img {
    width: 100%;
}

i {
   margin:  0 5px;
}

a:hover {
    color: blue;
}

td:nth-child(2) {
    padding-left: 30px;
}

@media (min-width: 1000px) {
    body {
        max-width: 1600px;
        margin: 0 auto;
    } 

   header {
       flex-direction: row;
   } 
   
   header li {
       display: inline-block;
   }

   header h1, header nav {
       flex: 1;
   }

   header h1 {
       text-align: left;
   }

   header nav {
       text-align: right;
   }

   /* blog */
   .wrapper {
    flex-direction: row;       
   }

   main {
       flex: 3;
   }

   aside {
       flex: 1;
       margin-left: 15px;
   }

   article > header {
        justify-content: space-between;       
   }

   .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
}