html {
    font-family: 'Metal Mania', cursive;
    color: black;
}

.background {
   /* background:  #884dff; */
   background: rgba(136, 77, 255, 0.7);
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

header h1{
    margin: 0;
    padding: 15px;
}

li {
    list-style: none;
    padding: 10px;
}S

ul {
    padding: 0px;
}

.rock-image {
    background: url("../images/college-band-concert-1024x576.jpg") no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rock-text {
    text-align: center;
    font-size: 2em;
    padding: 1.5em;
    border-radius: 10px;

}

a{
   text-decoration: none; 
   color: black;
}

wrapper {
    display: flex;
    flex-direction: column;
}

article, .sidebar-widget{
    padding: 15px;
    margin: 15px 0;

}

@media (min-width: 1000px) {
    body {
        max-width: 1600px;
        margin: 0 auto;
    } 

   header {
       flex-direction: row;
   } 
   
   header li {
       display: inline-block;
   }

   header h1, header nav {
       flex: 1;
   }

   header h1 {
       text-align: left;
   }

   header nav {
       text-align: right;
   }
}